{
  "extends": [
    "eslint-config-cycle",
    "eslint-config-airbnb"
  ],
  "parser": "babel-eslint",
  "globals": {
    "location": true,
    "require": true
  },
  "rules": {
    "quotes": "off",
    "comma-dangle": "warn",
    "max-len": [1, 100, 4],
    "semi": "off",
    "space-after-keywords": "off",
    "space-return-throw-case": "off"
  }
}
