{
  "extends": [
    "eslint-config-cycle",
    "eslint-config-airbnb"
  ],
  "parser": "babel-eslint",
  "globals": {
    "location": true,
    "require": true,
    "afterEach": false,
    "beforeEach": false,
    "describe": false,
    "expect": false,
    "it": false,
    "jasmine": false,
    "pending": false,
    "spyOn": false,
    "waits": false,
    "waitsFor": false,
    "xdescribe": false,
    "xit": false,
    "beforeAll": false,
    "afterAll": false,
    "runs": false,
  },
  "rules": {
    "quotes": "off",
    "comma-dangle": "warn",
    "max-len": [1, 100, 4],
    "semi": "off",
    "space-after-keywords": "off",
    "space-return-throw-case": "off",
    "no-class/no-class": "off"
  }
}
